{% extends "base.html" %}
{% block content %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Moreno</h2>
          <p>La señora de Moreno cocina mondongo en la escuela Lupín.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>La escuela de cocina social “Lupín”</h2>
          <p>Marta Cascales enseña en el Mercado Central. La escuela lleva el sobrenombre de Kirchner..</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
          <h2>Importancia de incorporar el mondongo a la dieta</h2>
          <p>hay que enseñar a cocinar el mondongo para que se venda, y lo hicimos”. No faltó una suposición acorde al lugar: “Perón también comía unos mondongos extraordinarios”.</p>
          <p><a class="btn btn-default" href="#" role="button">Ver detalles &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Al lado parecía desentonar una <span class="text-muted">gigantografía de “San Mariotto”.</span></h2>
          <p class="lead">mostraba al vicegobernador bonaerense con una aureola. “Por $85 usted disfruta de la cena y el show”.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Cascales fue la primera en llegar y sorprendió <span class="text-muted">a los que estaban sentados cerca suyo.</span></h2>
          <p class="lead">“Quién iba a imaginar que yo me dedicaría a la cocina”. Nadie contradijo a la esposa de Moreno, escribana de profesión.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Después de la cena, la escribana subió al escenario <span class="text-muted">efusiva habló unos veinte minutos .</span></h2>
          <p class="lead">La importancia de incorporar el mondongo a la dieta. “Fue la primera política pública en precios pero el mondongo no se vendía por más barato que estuviese”. Entre risas contó que Moreno temía un fracaso y quería pedir espacio en Canal Once para publicitar el precio del mondongo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

{% endblock %}