{% extends "base.html" %} {% block site_wrapper %}

<div class="jumbotron">
  <div class="container">
      <h1>About Us</h1>
      <p>
      Basically the idea is to generate a software as a service in food cooking and delivery. We want to take advantage of the concepts of share economy and existing technology to create a platform where local people (basically neighbors) chosen by us and who meet certain health standards can offer food throws people / companies around.
      </p>
      <p>
      For this, we want to design a replicable micro-logistics chain within each community in Santiago to generate the transactions. Both customer orders, payments and evaluations would be done online. The idea is to generate income sources for middle-class / middle-low housewives offering home-made, quality, and healthy food. All this in addition to promoting a balanced diet among our customers.
      </p>
  </div>
</div>

{% endblock %}