{% extends "base.html" %} {% block site_wrapper %}
{% load range %}

<div class="container">  
        <header class="jumbotron hero-spacer">
            <h1>{{ category.name }}</h1>
            <p>{{ category.description}}
            </p>
        </header>
        <hr>
  <div class="row">
    <div class="panel panel-info">
      <div class="panel-heading">
        <div class="panel-title">
          <div class="row">
            <div class="col-xs-6">
              <h5>Category: {{ category.name }}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">

        {% for p in products|dictsort:"name"  %}
        <div class="row">
          <div class="col-xs-2"><img class="img-responsive" src="{{p.image}}">
          </div>
          <div class="col-xs-4">
            <h4 class="product-name"><strong><a href="{% url 'show_product' product_slug=p.slug %}">{{ p.name }}</a></strong></h4>
            <h4><small>{{p.description|truncatechars:100}}</small></h4>
          </div>
          <div class="col-xs-6">
            <div class="col-xs-6 text-right">

            </div>
            <div class="col-xs-4">
                
            </div>
            <div class="col-xs-2">
                ${{ p.price }}
            </div>
          </div>
        </div>
        <hr> {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- /.container -->
{% endblock %}