{% extends "base.html" %} {% block site_wrapper %}
{% load range %}
<div class="jumbotron">
  <div class="container">
      <h1>{{ category.name }}</h1>
      <p>{{ category.description}}</p>

  </div>
</div>

<div class="container">  
    <div class="col-md-9">
        <div class="row">
            {% for p in products|dictsort:"name" %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img class="featurette-image img-responsive center-block" src="{{ p.image }}">
                    <div class="caption">
                        <h4 class="pull-right">${{ p.price }}</h4>
                        <h4><a href="{% url 'show_product' product_slug=p.slug %}">{{ p.name }}</a>
                        </h4>
                        <p>{{ p.description |truncatechars:100 }}</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right"> {{p.comments.all.count}} reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<!-- /.container -->
{% endblock %}