{% extends "base.html" %} {% block site_wrapper %} {% load staticfiles %}

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="dark">


    <aside class="bg-dark">
                    <p>
                        Want to see examples of code? visit my Github repository. If you want to see more about my experience please visit my Linkedin profile
                    </p>

                               <p>If you want to contact me I strongly recommend sending an email!</p>
        <div class="container text-center">
           
                     <br>
            <div class="call-to-action">
                <ul class="list-inline intro-social-buttons">
                <li> <a href="https://twitter.com/matias_iordache" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-lg"></i> <span>Twitter</span></a> </li>
                <li> <a href="https://github.com/meiordac/" class="btn btn-default btn-lg"><i class="fa fa-github fa-lg"></i> <span class="network-name">Github</span></a> </li>
                <li> <a href="https://www.linkedin.com/in/matiasiordache" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i> <span class="network-name">Linkedin</span></a></li>
                </ul>
            </div>
        </div>
    </aside>
 
            </div>
        </div>


                  <hr class="primary">

                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>+(569)-95845219</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:matias.iordache@gmail.com">matias.iordache@gmail.com</a></p>
                </div>

        </div>
{% endblock %}