{% extends "base.html" %} {% block site_wrapper %}
{% load range %}
<!-- Page Content -->
<div class="container">
    <div class="thumbnail">
        <img class="featurette-image img-responsive center-block" src="{{ product.image }}">
        <div class="caption-full">
            <h4 class="pull-right">${{ product.price }}</h4>
            <h4><a href="product/{{ p.slug }}">{{product.name}}</a>
            </h4>
            <p>Seller: <em>{{product.brand}}</em></p>
            <p>{{ product.description}}</p>

            <form method="post" action="." class="cart"> {% csrf_token %} {{ form.as_p }}

                <button type="submit" class="btn btn-primary" value="Add To Cart" name="submit" alt="Add To Cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                    </button>
            </form>
        </div>
        <br />
        <div class="ratings">
            <p class="pull-right">3 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star-empty"></span> 4.0 stars
            </p>
        </div>

        <div class="cb"></div>
    </div>
    <div class="well">

        <div class="text-right">
            <a class="btn btn-success">Leave a Review</a>
        </div>

{% for comment in product.comments.all %}
        <hr>
        <div class="row">
    <div class="col-md-12 comment">
        {% for star in "x"|rjust:comment.stars %}
        <span class="glyphicon glyphicon-star"></span>
        {% endfor %}
        {% for c in comment.stars|range:5 %}
        <span class="glyphicon glyphicon-star-empty"></span> 
        {% endfor %}
        <div class="date pull-right">{{ comment.created_date |date:"d/m/Y" }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
        </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

    </div>
</div>

{% endblock %}