{% extends "base.html" %} {% block site_wrapper %} {% load range %}
<!-- Page Content -->
<div class="container">
    <div class="thumbnail">
        <img class="featurette-image img-responsive center-block" src="{{ product.image }}">
        <div class="caption-full">
            <h4 class="pull-right">${{ product.price }}</h4>
            <h4><a href="{% url 'show_product' product_slug=product.slug %}">{{product.name}}</a>
            </h4>
            <p>Seller: <em>{{product.brand}}</em></p>
            <p>{{ product.description}}</p>

            <form method="post" action="." class="cart"> {% csrf_token %} {{ form.as_p }}

                <button type="submit" class="btn btn-primary" value="Add To Cart" name="add-cart" alt="Add To Cart"><span class="glyphicon glyphicon-shopping-cart"></span> Add to cart
                    </button>
            </form>
        </div>
        <br />
        <div class="ratings">
            <p class="pull-right">{{product.comments.all.count}} reviews</p>
            <p>
                {% for star in 0|range:product.average_stars %}
                <span class="glyphicon glyphicon-star"></span> {% endfor %} {% for c in product.average_stars|range:5 %}
                <span class="glyphicon glyphicon-star-empty"></span> {% endfor %} {{product.average_stars}} stars

            </p>
        </div>

        <div class="cb"></div>
    </div>
    <div class="well">

        <form action="." method="post" class="form-inline">{% csrf_token %}

            <div class="input-group">
                {{ comment_form.text.errors }}
                <label for="{{ comment_form.text.id_for_label }}"></label> {{ comment_form.text }}
            </div>

            <div class="input-group">
                {{ comment_form.stars.errors }} 
                
                {% for choice in comment_form.stars %} <span class="glyphicon glyphicon-star" aria-hidden="true"></span> {{ choice.choice_label }}
                <span class="radio">{{ choice.tag }}</span> {% endfor %}

            </div>

            <button class="btn btn-success pull-right" name="leave-review" type="submit">Leave a Review</button>
        </form>

        {% for comment in product.comments.all %}
        <hr>
        <div class="row">
            <div class="col-md-12 comment">
                {% for star in "x"|rjust:comment.stars %}
                <span class="glyphicon glyphicon-star"></span> {% endfor %} {% for c in comment.stars|range:5 %}
                <span class="glyphicon glyphicon-star-empty"></span> {% endfor %}
                <div class="date pull-right">{{ comment.created_date |date:"d/m/Y" }}</div>
                <strong>{{ comment.author }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
        </div>
        {% empty %}
        <p>No comments here yet :(</p>
        {% endfor %}

    </div>
</div>

{% endblock %}