{% extends "base.html" %} {% block site_wrapper %} {% load range %}

<div class="container">
    <div class="col-md-9">

        {{products | length}} results for "{{query}}"

        <div class="row">
            <div id="products" class="row list-group">
                {% for p in products|dictsort:"name" %}
                <div class="list-group-item col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image featurette-image img-responsive center-block" src="{{ p.image }}">
                        <div class="caption">
                            <h4 class="pull-right">${{ p.price }}</h4>
                            <h4 class="group inner list-group-item-heading"><a href="{% url 'show_product' product_slug=p.slug %}">{{ p.name }}</a>
                            </h4>
                            <p class="group inner list-group-item-text">{{ p.description |truncatechars:100 }}</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"> {{p.comments.all.count}} reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
<!-- /.container -->
{% endblock %}