{% extends "base.html" %} {% block site_wrapper %} {% load staticfiles %}
  
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-line-chart text-primary sr-icons"></i>
                        <h3>I am an Engineer</h3>
                        <p class="text-muted">I am focused on optimizing time and resources.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Ready to Ship</h3>
                        <p class="text-muted">I am willing to relocate and face new challenges!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Up to Date</h3>
                        <p class="text-muted">I keep learning new technologies and improving my knowledge.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                        <h3>Passionate</h3>
                        <p class="text-muted">I am a passionate professional!</p>
                    </div>
                </div>
            </div>

{% endblock %}